.leftBarContainer{
  position: absolute;
  background: #d2d0d0;
  height: auto;
  right: 100%;
  width: 160px;
  z-index: 1;
  .leftBarContentHolder{
    position: relative;
    .openNavBtn{
      position: absolute;
      left:100%;
      top:0px;
      cursor: pointer;
      width: 12px;
      height: 12px;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border: none;
      background: #ffffff;
      .rightIcon{
        transform: rotate(180deg);
        color: black;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        font-size: 18px;
        position: relative;
        top:-1px;
        left:-1px;
      }
    }
    .listHolder{
      width: 100%;
      .listItems{
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-bottom:2px #d2d0d0 ridge;
        .link{
          color: #000000;
          text-decoration: none;
          .icons{
            position: absolute;
            left:14px;
          }
        }
      }
    }
  }
}
.showMenu{
  transition: transform 0.5s ease;
  transform: translateX(100%);
}
.hideMenu{
  transition: transform 0.5s ease;
  transform: translateX(0);
}
.rotate{transition: transform 200ms ease;transform: rotate(0deg);}
.rotateBack{transition: transform 200ms ease;transform: rotate(180deg);}