.loginContainer {
  margin: 5px auto;
  height: 400px;
  @media (min-width:320px) {
    width: 440px;
  }
  @media (min-width:768px) {
    width: 500px;
  }
  .loginHolder {
    width: 70%;
    margin: auto;
  }
}