.newsContainer {
  height: 350px;
  position: relative;
  background: #f1f1f1;
  h2.newsPageHeader {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #303030;
    border-bottom: 1px solid #2c2c2c14;
    box-shadow: 0 5px 10px 1px #00000040;
  }
  .newsHolder {
    width: 95%;
    height: 230px;
    margin: 5px auto;
    padding: 20px 10px;
    background: #f1f1f14a;
    overflow: hidden scroll;
    scrollbar-width: thin;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    //news Card
    .newsCard {
      background: #f1f1f1;
      border: 1px #00000060 solid;
      border-radius: 9px;
      box-shadow: 0 0 2px 1px #00000060;
      .newsCardHeader {
        line-height: 30px;
        text-align: left;
        padding: 0 0 0 8px;
        border-radius: 9px 9px 0 0;
        position: relative;
        font-size: 15px;
        background: linear-gradient(to bottom, #f8fafc, #d1d1d1);
        .newsBubbleColor {
          border-radius: 100%;
          box-shadow: 0 0 1px 1px #000000f1;
          width: 10px;
          height: 10px;
          position: absolute;
          right: 8px;
          top: 10px;
        }
        .newsBubbleColor_fin {
          background: linear-gradient(to bottom, #10b981, #059669, #047857);
        }
        .newsBubbleColor_env {
          background: linear-gradient(to bottom, #84cc16, #65a30d, #4d7c0f);
        }
        .newsBubbleColor_ntr {
          background: linear-gradient(to bottom, #14b8a6, #0d9488, #0f766e);
        }
        .newsBubbleColor_pol {
          background: linear-gradient(to bottom, #f43f5e, #e11d48, #be123c);
        }
        .newsBubbleColor_teh {
          background: linear-gradient(to bottom, #0ea5e9, #0284c7, #0369a1);
        }
        .newsBubbleColor_hth {
          background: linear-gradient(to bottom, #6b7280, #4b5563, #374151);
        }
        .newsBubbleColor_spr {
          background: linear-gradient(to bottom, #22c55e, #16a34a, #15803d);
        }
        .newsBubbleColor_int {
          background: linear-gradient(to bottom, #06b6d4, #0891b2, #0e7490);
        }
        .newsBubbleColor_nat {
          background: linear-gradient(to bottom, #78716c, #57534e, #44403c);
        }
        .newsBubbleColor_loc {
          background: linear-gradient(to bottom, #f59e0b, #d97706, #b45309);
        }
        .newsBubbleColor_ent {
          background: linear-gradient(to bottom, #9333ea, #7e22ce, #6b21a8);
        }
      }
      .newsTitle {
        background: linear-gradient(to bottom, #f8fafc, #d1d1d3);
        border-top: 2px #00000040 solid;
        border-bottom: 2px #00000040 solid;
        height: 100px;
        padding: 8px 8px;
        font-size: 13px;
      }
      .newsBtnHolder {
        background: linear-gradient(to top, #f8fafc, #d1d1d3);
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        .newsButton {
          width: 50%;
          cursor: pointer;
          padding: 4px 0;
          box-shadow: 0 -1px 2px 1px #00000060;
          background: linear-gradient(to top, #f8fafc, #c4c4c5);
          color: #00162b;
          font-weight: bold;
          font-size: 12px;
          border: 1px solid #00000020;
          border-radius: 6px;
          transition: all 200ms ease-in;
          font-family: Arial, Helvetica, sans-serif;
          &:hover {
            transition: all 200ms ease-in;
            box-shadow: 0 1px 2px 1px #00000060;
          }
        }
      }
      .newsTimeDateContainer {
        position: relative;
        height: 25px;
        width: 100%;
        border-radius: 0 0 9px 9px;
        background: linear-gradient(to bottom, #f8fafc, #d1d1d3);
        @mixin dateTime {
          position: absolute;
          width: 95px;
          font-size: 12px;
          bottom: 0px;
          font-weight: 400;
          background: linear-gradient(to bottom, #f8fafc, #c4c4c5);
          height: 20px;
          line-height: 20px;
          text-align: center;
          border: 1px solid #00000020;
          color: #000000;
        }
        .newsDate {
          @include dateTime;
          border-radius: 9px 0;
          right: 0;
        }
        .newsTime {
          @include dateTime;
          border-radius: 0 9px;
          left: 0;
        }
      }
    }
    //news Card ends
  }
}
.newsModalContainer {
  height: 404px;
  width: 350px;
  position: absolute;
  background: linear-gradient(to left, #d1d1d3, #f8fafc, #d1d1d3);
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
  border: 1px solid #000000;
  box-shadow: 0 0 5px 2px #00000080;
  .newsModalHeader {
    line-height: 30px;
    text-align: left;
    padding: 0 0 0 8px;
    border-radius: 9px 9px 0 0;
    position: relative;
    font-size: 15px;
    background: linear-gradient(to bottom, #f8fafc, #d1d1d3);
    font-weight: 500;
    .newsModalIconClose {
      border-radius: 9px;
      border: 2px dashed #ffffff;
      background: black;
      width: 15px;
      height: 15px;
      position: absolute;
      right: 8px;
      top: 8px;
      color: white;
      cursor: pointer;
      transition: all 400ms ease-in;
      &:hover {
        transition: all 400ms ease-in;
        background: none;
        color: #ff0000;
        border-color: #000000;
      }
    }
  }
  .newsModalImgTextHolder {
    width: 95%;
    margin: 0 auto;
    .newsModalImg {
      width: 100%;
      height: 100px;
      border-radius: 9px;
      margin: 5px 0;
    }
    .newsModalText {
      border: 2px #00000040 solid;
      border-radius: 9px;
      height: 180px;
      padding: 8px 8px;
      font-size: 13px;
    }
  }
  .newsModalOpenLinkBtnHolder {
    background: linear-gradient(to top, #f8fafc, #d1d1d3);
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
    .newsModalOpenLinkBtn {
      width: 50%;
      cursor: pointer;
      padding: 4px 0;
      box-shadow: 0 -1px 2px 1px #00000060;
      background: linear-gradient(to top, #f8fafc, #c4c4c5);
      color: #00162b;
      font-weight: bold;
      font-size: 12px;
      border: 1px solid #00000020;
      border-radius: 6px;
      transition: all 200ms ease-in;
      font-family: Arial, Helvetica, sans-serif;
      &:hover {
        transition: all 200ms ease-in;
        box-shadow: 0 1px 2px 1px #00000060;
      }
    }
  }
  .newsModalDateTimeHolder {
    position: relative;
    height: 25px;
    width: 100%;
    border-radius: 0 0 9px 9px;
    background: linear-gradient(to bottom, #f8fafc, #d1d1d3);
    @mixin dateTime {
      position: absolute;
      width: 95px;
      font-size: 12px;
      bottom: 0px;
      font-weight: 400;
      background: linear-gradient(to bottom, #f8fafc, #c4c4c5);
      height: 20px;
      line-height: 20px;
      text-align: center;
      border: 1px solid #00000020;
      color: #000000;
    }
    .newsModalDate {
      @include dateTime;
      border-radius: 9px 0;
      right: 0;
    }
    .newsModalTime {
      @include dateTime;
      border-radius: 0 9px;
      left: 0;
    }
  }
}
//News Page Seperate
.newsPage_Container {
  height: 825px !important;
}
.newsPage_Holder {
  height: 700px !important;
}
.newsPage_newsBtnHolder {
  margin-bottom: 5px !important;
  line-height: 45px !important;
}