.postsContainer {
  height: 481px;
  position: relative;
  background: #f1f1f1;
  h2.postsPageHeader {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #303030;
    border-bottom: 1px solid #2c2c2c14;
    box-shadow: 0 5px 10px 1px #00000040;
  }
  .postsHolder {
    width: 100%;
    height: 440px;
    margin: 0 auto;
    background: #f1f1f14a;
    padding: 10px;
    .postWindow {
      width: 95%;
      height: 400px;
      margin: 10px auto;
      overflow: hidden scroll;
      scrollbar-width: thin;
      .postsCardContainer {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-template-rows: 390px;
        grid-gap: 20px;
        padding: 10px;
        .postCard {
          border: 1px solid #00000080;
          border-radius: 6px;
          padding: 10px;
          background: linear-gradient(to right, #bebdbd, #e7e6e6, #bebdbd);
          box-shadow: 0 0 10px 3px #00000080 inset;
          .postCardContentWindow {
            border: 1px solid #00000080;
            border-radius: 6px;
            height: 365px;
            background: linear-gradient(to right, #bebdbd, #e7e6e6, #bebdbd);
            box-shadow: 0 0 1px 1px #000000f1;
            .postCardHeader {
              border: 1px solid #00000040;
              width: 95%;
              height: 60px;
              line-height: 30px;
              display: flex;
              position: relative;
              margin: 5px auto;
              border-radius: 6px;
              .img {
                margin: 5px;
                border-radius: 9px;
                width: 50px;
                height: 50px;
              }
              .author {
                display: flex;
                flex-direction: column;
                width: 90%;
                .name {
                  display: block;
                  width: 85%;
                  font-size: 16px;
                  border-radius: 6px;
                  height: 25px;
                  line-height: 35px;
                  margin: 0 auto 2px;
                  padding: 0 0 0 5px;
                }
                .when {
                  display: block;
                  font-size: 12px;
                  width: 85%;
                  border-radius: 6px;
                  height: 25px;
                  line-height: 35px;
                  margin: 0 auto 2px;
                  padding: 0 0 0 5px;
                }
              }
              @mixin iconsContainer {
                height: 15px;
                line-height: 15px;
                width: 20px;
                position: relative;
                right: 6px;
                top: 5px;
                color: #f9f9f9;
                text-align: center;
                font-size: 15px;
                cursor: pointer;
                background: #000000;
                box-shadow: 0 -1px 2px 1px #00000060;
                transition: all 400ms ease-in;
              }
              .iconsContainer {
                @include iconsContainer;
                border: 2px dashed #ffffff;
                border-radius: 9px;
                .removeDelete {
                  position: relative;
                  left: 0;
                  transition: all 400ms ease-in;
                  color: #f1f1f1;
                }
                &:hover {
                  transition: all 400ms ease-in;
                  background: none;
                  border-color: #000000;
                  .removeDelete {
                    color: #ff0000;
                  }
                }
              }
              .iconsContainerRect {
                @include iconsContainer;
                border: 2px dashed #ffffff;
                border-radius: 2px;
                .removeDeleteRect {
                  transition: all 400ms ease-in;
                  color: #f1f1f1;
                }
                &:hover {
                  transition: all 400ms ease-in;
                  background: none;
                  border-color: #000000;
                  .removeDeleteRect {
                    color: #ff0000;
                  }
                }
              }
            }
            .postCardWindow {
              height: 120px;
              width: 95%;
              margin: auto;
              .postText {
                padding: 5px;
                height: 200px;
                border-radius: 6px;
                border: 1px solid #00000040;
                background: linear-gradient(to right, #bebdbd, #e7e6e6, #bebdbd);
              }
              .postWithImg {
                padding: 5px;
                height: 90px;
                margin: 5px 0;
                border-radius: 6px;
                border: 1px solid #00000040;
                background: linear-gradient(to right, #bebdbd, #e7e6e6, #bebdbd);
                position: relative;
                .postImg {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  border-radius: 6px;
                  border: 1px solid #00000000;
                }
                .postOnImgHolder {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100px;
                  border-radius: 4px;
                  font-weight: 500;
                  .postImgSource {
                    padding: 0 10px;
                    margin: 5px 0 0 0;
                    color: #00000095;
                    font-size: 20px;
                  }
                  .postImgHeader {
                    padding: 0 10px;
                    margin: 5px 0 0 0;
                    color: #00000090;
                    font-size: 16px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  }
                  .postImgText {
                    padding: 0 10px;
                    margin: 5px 0 0 0;
                    height: 40px;
                    color: #000000;
                    font-size: 14px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    overflow: hidden scroll;
                  }
                }
              }
              .postWithImgText {
                padding: 5px;
                height: 90px;
                border-radius: 6px;
                border: 1px solid #00000040;
                background: linear-gradient(to right, #bebdbd, #e7e6e6, #bebdbd);
              }
            }
            .postCardNav {
              display: flex;
              position: relative;
              width: 95%;
              margin: 8px auto 0;
              height: 30px;
              line-height: 30px;
              transform: translateY(95px);
              border-radius: 6px 6px 0 0;
              z-index: 3;
              .postCardEmotesNav {
                background: #e7e6e639;
                text-align: center;
                height: 30px;
                line-height: 30px;
                width: 75%;
                border-radius: 4px 0 0 0;
                //Emotes
                .postCardEmotes {
                  display: inline-block;
                  width: 25px;
                  height: 25px;
                  line-height: 25px;
                  text-align: center;
                  margin: 0 5px;
                  border-radius: 9px;
                  &:nth-of-type(1) {
                    background: #02409c;
                  }
                  &:nth-of-type(2) {
                    background: #9a4f04;
                  }
                  &:nth-of-type(3) {
                    background: #9b7803;
                  }
                  &:nth-of-type(4) {
                    background: #0368b6;
                  }
                  &:nth-of-type(5) {
                    background: #cbb700;
                  }
                  &:nth-of-type(6) {
                    background: #1a3083;
                  }
                  .emoteCardIcon {
                    font-size: 14px;
                    margin: 0 5px;
                  }
                }
                .postCardEmoteCountNumber {
                  display: inline-block;
                  width: 10%;
                  height: 30px;
                  text-align: center;
                  padding: 0 0 0 5px;
                  font-size: 14px;
                  text-decoration: underline;
                }
                .postCardWhoReacted_Modal {
                  position: absolute;
                  width: 150px;
                  height: 200px;
                  overflow: hidden;
                  background: #e7e6e6;
                  transform: translate(120%, 2%);
                  border-radius: 12px;
                  text-overflow: "...";
                  border-top: 3px ridge #00000080;
                  border-left: 3px ridge #00000080;
                  border-right: 3px groove #00000080;
                  border-bottom: 3px groove #00000080;
                  .postCardUserlist {
                    height: 25px;
                    line-height: 25px;
                    font-size: 14px;
                    text-align: left;
                    padding: 0 5px;
                    &:nth-of-type(1) {
                      border-top-right-radius: 6px;
                      border-top-left-radius: 6px;
                    }
                    &:nth-of-type(odd) {
                      background: #00000020;
                    }
                    &:nth-of-type(even) {
                      background: #dddcdc84
                    }
                  }
                }
              }
              // Share and Comment Count
              .navCardShareComment {
                display: flex;
                position: relative;
                background: linear-gradient(to top, #00000095, #e3e3e3);
                width: 25%;
                height: 30px;
                line-height: 30px;
                border-radius: 0 4px 0 0;
                z-index: 1;
                .navCardShare {
                  width: 50%;
                  text-align: center;
                  position: relative;
                  font-size: 14px;
                  text-decoration: underline;
                  .shareSpan {
                    font-weight: 500;
                  }
                  .shareIcon {
                    transform: translate(2px, -2px);
                    font-size: 12px;
                  }
                }
                .navCardComment {
                  width: 50%;
                  text-align: center;
                  border-radius: 0 4px 0 0;
                  position: relative;
                  font-size: 14px;
                  text-decoration: underline;
                  .commentSpan {
                    font-weight: 500;
                  }
                  .commentIcon {
                    transform: translate(3px, -2px);
                    font-size: 12px;
                  }
                }
                .postCardWhoShared_Modal {
                  position: absolute;
                  width: 150px;
                  height: 200px;
                  overflow: hidden;
                  background: #e7e6e6;
                  z-index: 1;
                  transform: translate(-70%, 15%);
                  border-radius: 12px;
                  text-overflow: "...";
                  border-top: 3px ridge #00000080;
                  border-left: 3px ridge #00000080;
                  border-right: 3px groove #00000080;
                  border-bottom: 3px groove #00000080;
                  .postCardUserlist {
                    height: 25px;
                    line-height: 25px;
                    font-size: 14px;
                    text-align: left;
                    padding: 0 5px;
                    &:nth-of-type(1) {
                      border-top-right-radius: 6px;
                      border-top-left-radius: 6px;
                    }
                    &:nth-of-type(odd) {
                      background: #00000020;
                    }
                    &:nth-of-type(even) {
                      background: #dddcdc84
                    }
                  }
                }
                .postCardWhoCommented_Modal {
                  position: absolute;
                  width: 150px;
                  height: 200px;
                  overflow: hidden;
                  background: #e7e6e6;
                  z-index: 2;
                  transform: translate(-50%, 15%);
                  border-radius: 12px;
                  text-overflow: "...";
                  border-top: 3px ridge #00000080;
                  border-left: 3px ridge #00000080;
                  border-right: 3px groove #00000080;
                  border-bottom: 3px groove #00000080;
                  .postCardUserlist {
                    height: 25px;
                    line-height: 25px;
                    font-size: 14px;
                    text-align: left;
                    padding: 0 5px;
                    &:nth-of-type(1) {
                      border-top-right-radius: 6px;
                      border-top-left-radius: 6px;
                    }
                    &:nth-of-type(odd) {
                      background: #00000020;
                    }
                    &:nth-of-type(even) {
                      background: #dddcdc84
                    }
                  }
                }
              }
            }
            //Like Comment Share buttons
            .postCardBtnsHolder {
              background: #ececec;
              display: flex;
              position: relative;
              width: 95%;
              margin: 0 auto;
              border-top: 3px ridge #000000;
              height: 30px;
              line-height: 30px;
              transform: translateY(95px);
              border-radius: 0 0 9px 9px;
              z-index: 2;
              @mixin postCardBtn {
                text-align: left;
                background: linear-gradient(to bottom, #f7f7f7, #00000090);
                font-size: 14px;
                cursor: pointer;
              }
              @mixin iconHolder {
                display: inline-block;
                width: 30%;
                height: 30px;
                line-height: 30px;
                text-align: center;
              }
              @mixin btnTypeText {
                display: inline-block;
                width: 70%;
                color: #000000;
                text-align: center;
              }
              @mixin btnIcon {
                font-size: 12px;
                color: #00000090;
              }
              .postCardLikeBtn {
                @include postCardBtn;
                border-radius: 0 0 0 6px;
                width: calc(100% /3);
                .iconHolder {
                  @include iconHolder;
                  .likeIcon {
                    @include btnIcon;
                  }
                }
                .likeText {
                  @include btnTypeText;
                }
              }
              .postCardCommentBtn {
                @include postCardBtn;
                border-left: 1px solid #00000040;
                width: calc(100% /3);
                .iconHolder {
                  @include iconHolder;
                  .commentIcon {
                    @include btnIcon;
                  }
                }
                .commentText {
                  @include btnTypeText;
                }
              }
              .postCardShareBtn {
                @include postCardBtn;
                border-radius: 0 0 6px 0;
                border-left: 1px solid #00000040;
                width: calc(100% /3);
                .iconHolder {
                  @include iconHolder;
                  .shareIcon {
                    @include btnIcon;
                  }
                }
                .shareText {
                  @include btnTypeText;
                  border-radius: 0 0px 6px 0;
                }
              }
              .postCardReactionHolder_Modal {
                position: absolute;
                width: 235px;
                height: 30px;
                line-height: 30px;
                background: linear-gradient(to top, #888888, #ececec);
                text-align: left;
                transform: translate(0, -230%);
                z-index: 4;
                border-radius: 6px;
                .postCardReactionWindow {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  text-align: center;
                  transition: all 300ms ease;
                  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3),
                  &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                    border-right: 1px solid #00000030;
                    padding: 0 1.5px;
                  }
                  &:nth-of-type(1) {
                    color: #044dbc;
                  }
                  &:nth-of-type(2) {
                    color: #d85402;
                  }
                  &:nth-of-type(3) {
                    color: #dfac04;
                  }
                  &:nth-of-type(4) {
                    color: #0368b6;
                  }
                  &:nth-of-type(5) {
                    color: #cbb700;
                  }
                  &:nth-of-type(6) {
                    color: #1a3083;
                  }
                  &:nth-of-type(7) {
                    cursor: pointer;
                    color: #000000;
                    &:hover {
                      transition: all 300ms ease;
                      color: #b90202d8;
                    }
                  }
                  .postCardReactionIcon {
                    font-size: 16px;
                  }
                }
              }
              .postCardShareHolder_Modal {
                position: absolute;
                width: 320px;
                height: 85px;
                background: linear-gradient(to top, #969696, #ececec);
                transform: translate(-5%, 38%);
                z-index: 4;
                border-radius: 6px;
                border-top: 3px ridge #000000;
                border-left: 3px ridge #000000;
                border-right: 3px groove #000000;
                border-bottom: 3px groove #000000;
                box-shadow: 0 0 3px 1px #00000080;
                .postCardShare_ModalHeader {
                  border-bottom: 2px groove #000000;
                  border-radius: 6px 6px 0 0;
                  position: relative;
                  height: 30px;
                  line-height: 30px;
                  font-size: 16px;
                  text-align: center;
                  background: linear-gradient(to bottom, #dedede, #8c8c8c);
                  .postCardShareCloseIcon_Modal {
                    position: absolute;
                    right: 8px;
                    top: 6px;
                    font-size: 18px;
                    cursor: pointer;
                  }
                }
                .postCardLink_Modal {
                  display: inline-block;
                  width: 93%;
                  transform: translate(8px, 7px);
                  border-radius: 6px;
                  padding: 2px 0 2px 5px;
                  box-shadow: 0 0 2px 1px #00000060;
                  background: linear-gradient(to top, #dedede, #8c8c8c);
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 500;
                  .postCardLinkText_Modal {
                    width: 78%;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    border-radius: 3px;
                    background: linear-gradient(to bottom, #dedede, #8c8c8c);
                    border-top: 2px ridge #000000;
                    border-left: 2px ridge #000000;
                    border-right: 2px groove #000000;
                    border-bottom: 2px groove #000000;
                    text-align: center;
                    box-shadow: 0 0 2px 1px #00000060;
                    position: relative;
                    left: 6px;
                  }
                  .postCardLinkIcon_Modal {
                    font-size: 18px;
                    position: absolute;
                    right: 6px;
                    top: 10px;
                    cursor: pointer;
                    color: #000000;
                  }
                  .postCardLinkTextCopied_Modal {
                    position: absolute;
                    transform: translate(-57px, 50px);
                    background: linear-gradient(to top, #bdbdbd, #f4f4f4);
                    color: #4d4d4d;
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 6px;
                    font-size: 13px;
                    font-weight: bold;
                    font-family: "Helvetica Neue", "Helvetica";
                    border-top: 2px ridge #000000;
                    border-left: 2px ridge #000000;
                    border-right: 2px groove #000000;
                    border-bottom: 2px groove #000000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.postsContainerExtended {
  height: 831px !important;
  .postsHolderExtended {
    height: 785px !important;
    .postsWindowExtended {
      box-sizing: border-box;
      height: 760px !important;
    }
  }
}
@import './postModal.scss';