* {
 list-style: none;
 scrollbar-width: thin;
}
.linkShadow {
 box-shadow: 0
  0 1px
  3px
  rgba(
   0,
   0,
   0,
   0.1
  );
}
.eventsCustomScroll {
 scrollbar-color: #00a1f86a
  rgb(
   0,
   2,
   24
  );
 overflow-y: scroll;
}
.scrollbarWithNone {
 scrollbar-width: none;
}
.scrollbar-x {
 scrollbar-width: none;
 overflow: hidden
  scroll;
}
.scrollbar-x-drag {
 scrollbar-width: none;
 scrollbar-color: white,
  #c4c3c3;
}
.scrollbarNews-x {
 transition: all
  1s
  ease-out;
 overflow: hidden
  scroll;
 scrollbar-color: #ffffff00
  #0c4a6e00;
}
.scrollbarNews-x:hover {
 scrollbar-color: #0000009f
  #0c4a6e;
 transition: all
  1s
  ease-in;
}
.falling-leaf-container {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}
@keyframes falling-leaves {
 0% {
  transform: translateY(
    0
   )
   rotate(
    0deg
   );
 }
 100% {
  transform: translateY(
    80vh
   )
   rotate(
    720deg
   );
 }
}
.falling-leaf {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}
.pumpkin {
 animation: rotate
  infinite
  5s
  ease-in-out;
}
@keyframes rotate {
 0% {
  transform: rotate3d(
   0,
   4,
   0,
   180deg
  );
 }
 50% {
  transform: rotate3d(
   0,
   4,
   0,
   0deg
  );
 }
 100% {
  transform: rotate3d(
   0,
   4,
   0,
   -180deg
  );
 }
}
