$lighterGray: #ffffff;
$lightGray: #cdcdcd;
$darkGray: #5f5f5f;
$darkergray: #2a2a2a;
$ChristmasFirst: #ef3e3e;
$ChristmasSecond: #d85f5f;
$ChristmasThird: #c3a2a3;
$ChristmasForth: #f17674;
$ChristmasFiveth: #c2c2c2;
$HalloweenFirst: #363333;
$HalloweenSecond: #272121;
$HalloweenThird: #3d1158;
$HalloweenForth: #e16428;
$HalloweenFiveth: #f6e9e9;
$EasterFirst: #ff9a9a;
$EasterSecond: #fff9be;
$EasterThird: #cdffbe;
$EasterForth: #b0fdff;
$EasterFiveth: #f5bfff;
$WinterFirst: #BFE0F9;
$WinterSecond: #B0D0E3;
$WinterThird: #e6ebf1;
$WinterForth: #37687F;
$WinterFiveth: #244257;
$SpringFirst: #ffe284;
$SpringSecond: #ccfd90;
$SpringThird: #6b226b;
$SpringForth: #ffffff;
$SpringFiveth: #2f2f2f;
$SummerFirst: #cf5e01;
$SummerSecond: #cf9100;
$SummerThird: #054500;
$SummerForth: #39236b;
$SummerFiveth: #68d2ff;
$AutumnFirst: #3c1518;
$AutumnSecond: #69140e;
$AutumnThird: #a44200;
$AutumnForth: #d58936;
$AutumnFiveth: #f2f3ae;